<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
<%= link_to "返回潜在客户列表", potential_teams_url + "?potential_level=2"%>
<%= link_to "返回全部客户列表", teams_url + "?potential_level=1"%>
<h3>深层客户列表</h3>
<%= search_form_for @q ,url:deep_teams_url do |f| %>
    <div class="input-group"><br>
      <p style="display: inline-block">
        <%= f.label :等级 %><br>
        <%= f.select(:customer_description_level_eq, {"*" => "", "A" => "A", "B" => "B", "C" => "C", "D" => "D"}.collect {|c| [c[0], c[1]]}) %>
      </p>
      <p style="display: inline-block">
        <%= f.label :行业 %><br>
        <%= f.select(:customer_description_field_eq, {"*" => "", "互联网" => "互联网", "金融" => "金融", "教育" => "教育"}.collect {|c| [c[0], c[1]]}) %>
      </p>
      <p style="display: inline-block">
        <%= f.label :规模 %><br>
        <%= f.select(:customer_description_scale_eq, {"*" => "", "0~50" => "0~50", "50~100" => "50~100", "100~500" => "100~500"}.collect {|c| [c[0], c[1]]}) %>
      </p>
      <br>
      <p style="display: inline-block">
        <%= f.label :状态 %><br>
        <%= f.select(:customer_alloted_eq, {"*" => "", "已分配" => "true", "未分配" => "false"}.collect {|c| [c[0], c[1]]}) %>
      </p>
      <br>
      <p style="display: inline-block">
        <%= f.label :销售 %><br>
        <%= f.select(:customer_allocator_name_eq, [""] + User.all.collect {|c| [c.name, c.name]}) %>
      </p>
      <br>
      <%= f.label :开始日期 %>
      <%= f.text_field :created_gteq, 'data-behaviour' => 'datepicker data-date-autoclose' %>
      <%= f.label :结束日期 %>
      <%= f.text_field :created_lteq, 'data-behaviour' => 'datepicker data-date-autoclose' %>
      <br>
      <br><%= f.submit "筛选", class: "btn btn-sm btn-primary" %>
      <%= link_to "复原", potential_teams_url(current_user.id) + "?potential_level=2", class: "btn btn-sm btn-primary" %>
    </div>
<% end %>
<br>
<div class="container" style="overflow: scroll;width:1300px">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th rowspan="2"></th>
      <th rowspan="2">
        <%= sort_link(@q, :name, '用户名') %>
      </th>
      <th rowspan="2" style="min-width:150px;">
        <%= sort_link(@q, :created, '注册时间') %>
      </th>
      <th rowspan="2" style="min-width:150px;">
        <%= sort_link(@q, :customer_alloted, '状态') %>
      </th>
      <th colspan="6">备注</th>
    </tr>
    <tr>
      <th style="min-width:50px;">
        <%= sort_link(@q, :customer_description_level, '等级') %>
      </th>
      <th style="min-width:100px;">
        <%= sort_link(@q, :customer_description_field, '行业') %>
      </th>
      <th>
        <%= sort_link(@q, :customer_description_scale, '规模') %>
      </th>
      <th style="min-width:200px;">部门</th>
      <th style="min-width:200px;">岗位</th>
      <th>评价</th>
    </tr>
    </thead>
    <tbody>
    <%=form_for :teams,url: check_box_query_url(current_user.id)+"?potential_level=3"  do |t|%>
    <% @teams.each do |c| %>
            <tr class="deep">
              <td><%=check_box_tag "teams[#{c.id}]",c.id %></td>
              <td><%= link_to customer_path(c.id) do %><%= c.name %>
                <% end %></td>
              <td><%= c.created.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <% if c.customer!= nil %>
                  <% v = c.customer %>
                  <% if v.users.exists? %>
                      <td>已分配给<b><%= v.users[0].name %></b></td>
                  <% else %>
                      <td><%= link_to allot_path(c.id) do %>待分配
                        <% end %></td>
                  <% end %>
                  <% if c.customer.description != nil %>
                      <td><%= c.customer.description.level %></td>
                      <td><%= c.customer.description.field %></td>
                      <td><%= c.customer.description.scale %></td>
                      <td><%= c.customer.description.department %></td>
                      <td><%= c.customer.description.job %></td>
                      <td><%= c.customer.description.note %></td>
                  <% else %>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                  <% end %>
              <% else %>
                  <td><%= link_to allot_path(c.id) do %>待分配
                    <% end %></td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
              <% end %>
        <% end %>
        <%= submit_tag "多选操作",class:"btn btn-sm btn-primary" %>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @teams,renderer: BootstrapPagination::Rails %>
</body>

