<h3>以下客户被成功选中：</h3>

  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th rowspan="2">客户名></th>
      <th rowspan="2" style="min-width:150px;">注册时间</th>
      <th rowspan="2" style="min-width:150px;">状态</th>
      <th colspan="6">备注</th>
    </tr>
    <tr>
      <th style="min-width:50px;">等级</th>
      <th style="min-width:100px;">行业</th>
      <th>规模</th>
      <th style="min-width:200px;">部门</th>
      <th style="min-width:200px;">岗位</th>
      <th>评价</th>
    </tr>
    </thead>
    <tbody>
        <% @checked_teams.each do |c| %>
            <tr>
              <td><%= c.name %></td>
              <td><%= c.created.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <% if c.customer!= nil %>
                  <% v = c.customer %>
                  <% if v.users.exists? %>
                      <td>已分配给<b><%= v.users[0].name %></b></td>
                  <% else %>
                      <td>待分配</td>
                  <% end %>
                  <% if c.customer.description != nil %>
                      <td><%= c.customer.description.level %></td>
                      <td><%= c.customer.description.field %></td>
                      <td><%= c.customer.description.scale %></td>
                      <td><%= c.customer.description.department %></td>
                      <td><%= c.customer.description.job %></td>
                      <td><%= c.customer.description.note %></td>
                  <% else %>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                  <% end %>
              <% else %>
                  <td>待分配</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
              <% end %>
        <% end %>
    </tbody>
  </table>
<%if params[:potential_level] == "1"%>
    <%= link_to "提升客户潜在等级",improve_checked_teams_url + "?chosen_teams=#{@c}&potential_level=#{params[:potential_level]}",class:"btn btn-md btn-primary"%>
    <%=link_to "返回",teams_url(current_user.id)+"?potential_level=1",class:"btn btn-md btn-primary"%>
<%elsif params[:potential_level]=="2"%>
    <%= link_to "提升客户潜在等级",improve_checked_teams_url + "?chosen_teams=#{@c}&potential_level=#{params[:potential_level]}",class:"btn btn-md btn-primary"%>
    <%= link_to "降低客户潜在等级",degrade_checked_teams_url + "?chosen_teams=#{@c}&potential_level=#{params[:potential_level]}",class:"btn btn-md btn-danger"%><br>
    <%=link_to "返回",potential_teams_url(current_user.id) + "?potential_level=2",class:"btn btn-md btn-primary"%>
<%elsif params[:potential_level]=="3"%>
    <%= link_to "降低客户潜在等级",degrade_checked_teams_url + "?chosen_teams=#{@c}&potential_level=#{params[:potential_level]}",class:"btn btn-md btn-danger"%>
    <%=link_to "返回",deep_teams_url(current_user.id) + "?potential_level=3",class:"btn btn-md btn-primary"%>
<%end%>